:host {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 89vh;
}


.questions {
    flex: 1 0 0;

    td, th {
        text-align: center;
        padding: 8px;
        font-size: 90%;
    }

    th.round, td.round {
        width: 6em;
    }

    th.category, td.category {
        width: 16em;
    }

    th.clue, td.clue {
        width: 36em;
    }

    td.clue {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    th.save, td.save {
        width: 6em;

        ::ng-deep .p-checkbox {
            margin: 0 auto;
        }
    }
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    ::ng-deep .summary .p-datatable {
        flex: 55% 0 0;
        margin: 4px 2px;
    }

    .coryats {
        flex: 45% 0 0;
        margin: 4px 2px;

        ::ng-deep .p-panel {
            padding: 0;
            height: 100%;
        }
        ::ng-deep .p-toggleable-content {
            padding: 0;
            height: 100%;
        }
        ::ng-deep .p-panel-content {
            padding: 0;
            height: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .summary td, .summary th {
        text-align: center;
    }

    .summary td.round-label {
        font-size: 125%;
        font-weight: bold;
    }

    .summary td:first-child {
        text-align: right;
    }
}

