.container {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 0;
  margin: 0;
  width: 30%;
  background-color: lightgray;
}

j-board {
  border: 0;
  margin: 0;
  width: 70%;
}
