<table class="board" *ngIf="!game.isFJ()">
    <tr class="header">
        <td class="category" *ngFor="let category of game.getCategories()">{{category}}</td>
    </tr>
    <tr *ngFor="let row of [0,1,2,3,4]">
        <td class="clue" *ngFor="let category of [0,1,2,3,4,5]" (click)="openClue(category, row)">
            <ng-container [ngSwitch]="game.getClue(category, row) ? game.getClue(category, row).status : 'passed'">
                <ng-container *ngSwitchCase="'unseen'"><div class="value">${{game.getClue(category, row).value}}</div></ng-container>
                <ng-container *ngSwitchCase="'passed'"><div class="passed">•</div></ng-container>
                <ng-container *ngSwitchCase="'wrong'"><div class="wrong">✘</div></ng-container>
                <ng-container *ngSwitchCase="'right'"><div class="right">✓</div></ng-container>
            </ng-container>
        </td>
    </tr>
</table>
<div class="final" *ngIf="game.isFJ()">
    <div class="screen">
        <div class="dd">Final Jeopardy</div>
        <div class="category">{{game.getFinalCategory()}}</div>
    </div>
    <div class="buttons">
        <button pButton type="button" class="p-button-success p-button-rounded" label="Right" (click)="markFJClue('right')"></button>
        <button pButton type="button" class="p-button-danger p-button-rounded" label="Wrong" (click)="markFJClue('wrong')"></button>
    </div>
</div>
<p-dialog [closable]="false" [visible]="targetClue" modal="true" [style]="{width: '85vw'}">
    <div class="wrapper">
        <div class="column responses">
            <button pButton type="button" class="p-button-success p-button-rounded" label="Right" (click)="markClue('right')"></button>
            <button pButton type="button" class="p-button-info p-button-rounded" label="Pass"(click)="markClue('passed')"></button>
            <button pButton type="button" class="p-button-danger p-button-rounded" label="Wrong"(click)="markClue('wrong')"></button>
        </div>
        <div class="column clue">
            <h1>{{targetClue?.category.title}}</h1>
            <div class="screen">
                <div class="dd" *ngIf="targetClue?.dd">Daily Double</div>
                <div class="value">${{targetClue?.value}}</div>
                <ng-container [ngSwitch]="targetClue?.status">
                    <div *ngSwitchCase="'passed'" class="status passed">•</div>
                    <div *ngSwitchCase="'wrong'" class="status wrong">✘</div>
                    <div *ngSwitchCase="'right'" class="status right">✓</div>
                </ng-container>
            </div>
            <button pButton type="button" class="p-button-primary p-button-text" label="Reset Clue" (click)="markClue('unseen')"></button>
            <button pButton type="button" class="p-button-primary p-button-round" label="Cancel" (click)="targetClue=null"></button>
        </div>
    </div>
</p-dialog>
